/* You must configure the size you want here for responsive display */
.test-div {
  width:400px;
  margin:auto;
  position:relative;
  padding: 30px;
}
.interactive-img {
  width: 100%;
}
/* Dots configuration */
.elm {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  transform: scale(1);
  animation: pulse-white 1s infinite;
  border-radius: 50%;
}
@keyframes pulse-white {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
/* .elm:hover {
  animation-play-state: paused;
} */
#test1 {
  top: 10.4%;
  left: 80.7%;
}
#test2 {
  top: 482px;
  left: 134px;
}
#test3 {
  top: 480px;
  left: 66px;
}
h2 {
  margin-top:inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  cursor: default;
}
.popup {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 200px;
  height: auto;
  color: black;
  position: absolute;
  background-color: #FAFAFA;
  padding: 15px;
  box-shadow: 0 29px 60px 0 rgb(54 57 73 / 9%);
  -webkit-box-shadow: 0 29px 60px 0 rgb(54 57 73 / 9%);
  -moz-box-shadow: 0 29px 60px 0 rgb(54 57 73 / 9%);
  transition: all 0.3s ease-in-out;
  border-radius: 3%;
  opacity: 0;
}
.popup > p {
  cursor: default;
}
.close-tab {
  float: right;
  font-size: 20px;
  font-family: Tahoma;
  cursor: pointer;
}
.popup-show {
  opacity: 1;
}
@media screen and (max-width: 767px){
  /* .popup {
    opacity: 1;
  } */
  /* .popup h2 {
    font-size: 40px;
  }
  .popup p {
    font-size: 35px;
  }
  .close-tab {
    text-align: right;
    font-size: 35px;
  } */
}